<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header></header>

    <main>
        <div>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Population</th>
                    <th>Confirmed Cases</th>
                    <th>Deaths</th>
                    <th>Recovered</th>
                </tr>

                <% for (var i = 0; i < 5; i++) { %>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                </tr>
                <% } %>
            </table>
        </div>
    </main>

    <footer></footer>
</body>

</html>